<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <logger name="io.fency" level="INFO"/>
  <logger name="org.springframework.amqp.rabbit.listener.ConditionalRejectingErrorHandler" level="INFO"/>

  <!-- ==== -->
  <!-- Root -->
  <!-- ==== -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>